body{
    background-color: rgb(250,250,250);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainHead
{
    text-align: center;
    font-weight: 500;
    margin: 3rem 0;
}

@media(max-widht: 770px)
{
    .container
    {
        margin: 0 10%;
    }

    
}